body{
    background: black;
}
#arrow {
    width: 770px;
    display: flex;
    align-items: center;
    border: solid 1px;
    border-color: aqua;
    height: 80px;
}

.fa-lg {
    font-size: 45px;
    color: rgba(240, 240, 245, 0.911)
}



a {
    color: black;
    text-decoration: none !important;
}