
#bars{
    width: 80px;
    padding-top: 11px;
    /* border: solid 1px red; */
    height: 41px;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-bars{
    color: antiquewhite;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.fa-bars:hover{
    font-size: 40.5px;
    opacity: 0.8;
    color: aliceblue;
}

.fa-times{
    color: antiquewhite;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 3;
    margin-left: 250px;
}

.fa-times:hover{
    font-size: 38px;
    opacity: 0.8;
    color: aliceblue;
}

#sideMenu{
    background: #0000;
    border-radius: 3px;
   margin-top: 9px;
    visibility: hidden;
    width: 195px;
    height: 80%;
    position: fixed;
    border: solid 2px rgb(46, 46, 46);
    left: 0;
    opacity: 0;
    transition: opacity 0.58s ease-in-out;
    z-index: 2;
    padding-left: 5px;
    padding-top: 4px;

    a{
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
    }

    div{
        margin-top: 50px;
    }
   
}