body {
    background: black;
    margin: 0;
}

#arrow {
    display: flex;
    align-items: center;
    padding: 15px 5px;
}

#stadiums {
    background-color: #f5f5f5f6;
    width: 85vw;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 20px;
}

#title {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 94%;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35px;
    color: white;
}

.fa-lg {
    font-size: 45px;
    color: rgba(240, 240, 245, 0.911);
}

.items {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stadium-image {
    max-width: 40%;
    height:min-content;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease, filter 0.3s ease; /* Define a transição suave */
    cursor:crosshair;
}

.stadium-image:hover{
    transform: scale(1.08); /* Amplia a imagem em 10% */
  filter: brightness(1.1); /* Torna a imagem um pouco mais brilhante ao passar o mouse */
}

.stadium-container {
    margin-bottom: 50px;
}

.info {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.info p {
    margin: 5px 0;
}

.info strong {
    color: #423f3f;
}

@media (max-width: 1400px) {
   

    .info {
        font-size: 1rem;
    }
}


@media (max-width: 999px) {
    .items {
        flex-wrap: wrap;
    }

   
}

@media (max-width: 768px) {
    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
    }

    #title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .stadium-container {
        width: 100%;
    }

    .items {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .stadium-image {
        width: 90%;
        height: auto;
        max-width: 400px;
    }

    .info {
        text-align: center;
    }
}

@media (max-width: 440px) {
    .stadium-image {
        min-width: 200px;
    }

    #stadiums {
        padding: 0 10px;
    }
}

@media (max-width: 365px) {
    #content {
        padding: 0;
    }
}
